<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.system.dao.SysCardFlowMapper">

    <resultMap id="BaseResultMap" type="com.ly.system.entity.SysCardFlow">
        <id column="flow_card_id" property="flowCardId"/>
        <result column="card_num" property="cardNum"/>
        <result column="card_iccid" property="cardIccid"/>
        <result column="operators" property="operators"/>
        <result column="card_type" property="cardType"/>
        <result column="card_state" property="cardState"/>
        <result column="card_tit_flow" property="cardTitFlow"/>
        <result column="card_used_flow" property="cardUsedFlow"/>
        <result column="card_have_flow" property="cardHaveFlow"/>
        <result column="card_acti_date" property="cardActiDate"/>
        <result column="card_timeout" property="cardTimeout"/>
        <result column="card_remind" property="cardRemind"/>
        <result column="card_batchnum" property="cardBatchnum"/>
        <result column="card_auth_state" property="cardAuthState"/>
        <result column="card_lable" property="cardLable"/>
        <result column="card_note" property="cardNote"/>
        <result column="card_userid" property="cardUserid"/>
        <result column="card_user_name" property="cardUserName"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        flow_card_id, card_num, card_iccid, operators, card_type, card_state, card_tit_flow, card_used_flow, card_have_flow, card_acti_date, card_timeout, card_remind, card_batchnum, card_auth_state, card_lable, card_note, card_userid, card_user_name, version, deleted, update_time, create_time
    </sql>

</mapper>