<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.system.dao.SysDeviceLinkageMapper">

    <resultMap id="BaseResultMap" type="com.ly.system.entity.SysDeviceLinkage">
        <id column="linkage_id" property="linkageId"/>
        <result column="linkage_name" property="linkageName"/>
        <result column="linkage_source" property="linkageSource"/>
        <result column="linkagee_device" property="linkageeDevice"/>
        <result column="slave_name" property="slaveName"/>
        <result column="variable_name" property="variableName"/>
        <result column="condition" property="condition"/>
        <result column="device_name" property="deviceName"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        linkage_id, linkage_name, linkage_source, linkagee_device, slave_name, variable_name, condition, device_name, version, deleted, update_time, create_time
    </sql>

</mapper>