<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.system.dao.SysDeviceOnlineMapper">

    <resultMap id="BaseResultMap" type="com.ly.system.entity.SysDeviceOnline">
        <id column="online_id" property="onlineId"/>
        <result column="device_name" property="deviceName"/>
        <result column="device_sn" property="deviceSn"/>
        <result column="student" property="student"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        online_id, device_name, device_sn, student, version, deleted, update_time, create_time
    </sql>

</mapper>