<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.system.dao.SysDestroyapplyMapper">

    <resultMap id="BaseResultMap" type="com.ly.system.entity.SysDestroyapply">
        <id column="dest_id" property="destId"/>
        <result column="dest_cardnum" property="destCardnum"/>
        <result column="dest_iccid" property="destIccid"/>
        <result column="dest_state" property="destState"/>
        <result column="dest_operators" property="destOperators"/>
        <result column="dest_type" property="destType"/>
        <result column="dest_meal" property="destMeal"/>
        <result column="dest_activation_time" property="destActivationTime"/>
        <result column="dest_timeout" property="destTimeout"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        dest_id, dest_cardnum, dest_iccid, dest_state, dest_operators, dest_type, dest_meal, dest_activation_time, dest_timeout, version, deleted, update_time, create_time
    </sql>

</mapper>