<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.system.dao.SysRenewalrecordMapper">

    <resultMap id="BaseResultMap" type="com.ly.system.entity.SysRenewalrecord">
        <id column="renewalrecord_id" property="renewalrecordId"/>
        <result column="card_num" property="cardNum"/>
        <result column="card_iccid" property="cardIccid"/>
        <result column="card_operator" property="cardOperator"/>
        <result column="student" property="student"/>
        <result column="meal_type" property="mealType"/>
        <result column="meal_unitprice" property="mealUnitprice"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        renewalrecord_id, card_num, card_iccid, card_operator, student, meal_type, meal_unitprice, version, deleted, update_time, create_time
    </sql>

</mapper>